@use "base";
@use "utilities";
@use "components";


$VeryDarkBlue: hsl(220, 13%, 13%);
$DarkGrayishBlue: hsl(219, 9%, 45%);
$GrayishBlue: hsl(220, 14%, 75%);
$LightGrayishBlue: hsl(223, 64%, 98%);

// HEADER
.header {
  padding-top: 1em;
  background-color: var(--background-color);
  color: var(--text-color);

  & .container {
    border-bottom: 1px solid $GrayishBlue;
  }
}

.row {
  display: flex;
  align-items: center;
}

.nav__btn {
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--background-color);

  &--open {
    padding: .25em;
    margin-right: .35em;

    @include utilities.breakpoint(medium) {
      display: none;
    }
  }

  &--close {
    @include utilities.breakpoint(medium) {
      display: none;
    }
  }

  &--cart {
    vertical-align: middle;
  }
}

.logo {
  @include utilities.breakpoint(medium) {
    margin-right: 2.35em;
  }
}

// Maybe this could be a component
.nav {
  min-height: 4rem;
  margin-left: auto;
  display: flex;


  @include utilities.breakpoint(medium) {
    margin: 0;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }


  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &--primary {
      display: none;

      @include utilities.breakpoint(medium) {
        display: flex;


        & .nav__item {

          &:hover,
          &:active {
            border-bottom: 3px solid var(--color-primary);
          }
        }
      }
    }

    &--primary.active {
      width: 60%;
      padding: 1em;
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: var(--background-color);

      & .nav__item {
        margin: 1em 0;
      }
    }

    &--secondary {

      & .nav__item+.nav__item {
        margin-left: .75em;

        @include utilities.breakpoint(medium) {
          margin-left: 1.5em;
        }
      }

      // Avatar
      & .nav__item-avatar img {
        border-radius: 8em;
        border: 2px solid transparent;
      }

      & .nav__item-avatar:hover img {
        border: 2px solid var(--color-primary);
      }

      // Items cart
      & .nav__btn--cart {
        position: relative;

        & .cart__num-products {
          position: absolute;
          top: -1em;
          padding: 0 .5em;
          font-size: .75rem;
          border-radius: 5em;
          color: var(--background-color);
          background-color: var(--color-primary);
          display: none;
          transition: all 250ms ease-in;

          &.active {
            display: initial;
          }
        }
      }
    }
  }

  &__item {
    @include utilities.breakpoint(medium) {
      height: 100%;
      display: flex;
      align-items: center;
      border-bottom: 3px solid transparent;
      transition: all ease-in 200ms;
    }
  }


  &__item+&__item {

    @include utilities.breakpoint(medium) {
      margin-left: 1.5em;
    }
  }

  &__item a {
    font-size: 1rem;
    font-weight: 600;
    color: $DarkGrayishBlue;
    font-family: 'Playfair Display', serif;
  }

  &__item-avatar img {
    width: 2rem;
  }
}

// Main content
.hero {
  padding-bottom: 2.25em;
}

.hero__container {
  width: 100%;
  flex-direction: column;

  @include utilities.breakpoint(medium) {
    width: 90%;
    padding: 2.25em 0;
    flex-direction: row;
    justify-content: space-between;
  }
}


// Slider
.slider {
  overflow: hidden;
  min-width: 300px;
  position: relative;


  @include utilities.breakpoint(medium) {
    width: 32%;
    margin: 0 auto;
  }

  &__container {
    display: flex;
    flex-wrap: nowrap;
    max-height: 550px;
    transition: all ease-in-out 250ms;


    @include utilities.breakpoint(medium) {
      max-width: 500px;
    }
  }

  &__item {
    width: 100%;
    flex-shrink: 0;
  }

  &__control {
    --size-control: 2rem;
    width: var(--size-control);
    height: var(--size-control);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 10em;
    top: calc(50% - var(--size-control) / 2);
    background-color: var(--background-color);
    cursor: pointer;

    @include utilities.breakpoint(medium) {
      display: none;
    }

    &--prev {
      left: calc(var(--size-control) / 2);
    }

    &--next {
      right: calc(var(--size-control) / 2);
    }
  }
}

.slider__img {
  object-fit: cover;

  @include utilities.breakpoint(medium) {
    border-radius: .75em;
  }

}

.slider__thubmbails {
  display: none;
  margin-top: 1em;

  @include utilities.breakpoint(medium) {
    display: flex;
  }

  & .slider__thumb-item {
    border-radius: .75em;
    border: 2px solid transparent;
    cursor: pointer;



    & img {
      pointer-events: none;
    }

    &.active {
      border: 2px solid var(--color-primary);
    }

    &.active img {
      filter: opacity(50%);
    }
  }

  & .slider__thumb-item+.slider__thumb-item {
    margin-left: 1em;
  }
}

// Shopping Cart
.cart__shopping {
  display: none;
  width: 90%;
  padding: 1em 0;
  min-width: 319px;
  margin: 0 auto;
  position: absolute;
  top: 90px;
  z-index: 10;
  border-radius: 0.75rem;
  background-color: var(--background-color);
  box-shadow: 0 0 10px var(--color-dark-grayish-blue);


  @include utilities.breakpoint(medium) {
    width: 20%;
    min-width: 300px;
    right: 5%;
  }


  &.active {
    display: initial;
  }

  & .cart__title {
    padding: 1em;
    color: var(--color-very-dark-blue);
    border-bottom: 1px solid var(--color-grayish-blue);
  }

  & .cart__items {
    min-height: 40vh;
    width: 90%;
    margin: 1em auto;
    display: grid;
    place-content: center;
    gap: 1em 0;

    @include utilities.breakpoint(medium) {
      min-height: 20vh;
    }


    &.no-empty {
      min-height: auto;
      grid-auto-columns: 100%;
      justify-content: flex-start;
      align-content: flex-start;
    }

    & p {
      color: var(--color-grayish-blue);
      font-weight: 700;
    }
  }

  & .cart__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>img {
      width: 15%;
      border-radius: .75rem;
      margin-right: 1em;
    }

    & .cart__item-info {
      margin-right: auto;
      font-size: 0.75rem;

      & p {
        text-overflow: ellipsis;
      }

      & strong {
        color: var(--color-very-dark-blue);
      }
    }

    & .cart__btn-delete {
      border: 0;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &>button {
    width: 90%;
    margin: 0 auto;
  }
}




// Info product
.description {
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;

  @include utilities.breakpoint(medium) {
    width: 40%;
  }
}

.product__company {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: .1rem;
  color: var(--color-primary);
}

.product__name {
  margin: .4em 0;
  font-weight: 700;
}

.product__text {
  color: var(--text-color);
}

.product__info {
  margin: 1em 0;
  display: flex;
  align-items: center;

  & .product__price {
    font-size: 1.5rem;
    font-weight: 800;
  }

  & .product__discount {
    margin-left: .75em;
    padding: .2em .4em;
    border-radius: .2em;
    font-size: .8rem;
    font-weight: 700;
    color: var(--color-primary);
    background-color: var(--color-primary-pale);
  }

  & .product__old-price {
    margin-left: auto;
    font-size: .8rem;
    font-weight: 700;
    color: var(--color-grayish-blue);
    text-decoration: line-through;
  }
}

// Btns
.description__buttons {
  display: flex;
  flex-direction: column;

  @include utilities.breakpoint(medium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & .btn:nth-child(1) {
      width: 30%;
    }

    & .btn:nth-child(2) {
      width: 60%;
      margin: 0;
    }
  }
}
