@use "base";
@use "utilities";
@use "components";


$VeryDarkBlue: hsl(220, 13%, 13%);
$DarkGrayishBlue: hsl(219, 9%, 45%);
$GrayishBlue: hsl(220, 14%, 75%);
$LightGrayishBlue: hsl(223, 64%, 98%);

// HEADER
.header {
  padding-top: 1em;
  background-color: var(--background-color);
  color: var(--text-color);

  & .container {
    border-bottom: 1px solid $GrayishBlue;
  }
}

.row {
  display: flex;
  align-items: center;
}

.nav__btn {
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--background-color);

  &--open {
    padding: .25em;
    margin-right: .35em;

    @include utilities.breakpoint(medium) {
      display: none;
    }
  }

  &--close {
    @include utilities.breakpoint(medium) {
      display: none;
    }
  }

  &--cart {
    vertical-align: middle;
  }
}

.logo {
  @include utilities.breakpoint(medium) {
    margin-right: 2.35em;
  }
}

// Maybe this could be a component
.nav {
  min-height: 4rem;
  margin-left: auto;
  display: flex;


  @include utilities.breakpoint(medium) {
    margin: 0;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }


  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &--primary {
      display: none;

      @include utilities.breakpoint(medium) {
        display: flex;

        & .nav__item {

          &:hover,
          &:active {
            border-bottom: 3px solid var(--color-primary);
          }
        }
      }
    }

    &--primary.active {
      width: 60%;
      padding: 1em;
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: var(--background-color);

      & .nav__item {
        margin: 1em 0;
      }
    }

    &--secondary {

      & .nav__item+.nav__item {
        margin-left: .75em;

        @include utilities.breakpoint(medium) {
          margin-left: 1.5em;
        }
      }
    }
  }

  &__item {
    @include utilities.breakpoint(medium) {
      height: 100%;
      display: flex;
      align-items: center;
      border-bottom: 3px solid transparent;
      transition: all ease-in 200ms;
    }
  }


  &__item+&__item {

    @include utilities.breakpoint(medium) {
      margin-left: 1.5em;
    }
  }

  &__item a {
    font-size: 1rem;
    font-weight: 600;
    color: $DarkGrayishBlue;
    font-family: 'Playfair Display', serif;
  }

  &__item-avatar img {
    width: 2rem;
  }
}

// Main content
.hero {
  padding-bottom: 2.25em;
}

.hero__container {
  width: 100%;
  flex-direction: column;

  @include utilities.breakpoint(medium) {
    width: 90%;
    padding: 2.25em 0;
    flex-direction: row;
    justify-content: space-between;
  }
}


// 1
.slider {
  overflow: hidden;
  min-width: 300px;
  position: relative;


  @include utilities.breakpoint(medium) {
    width: 32%;
    margin: 0 auto;
  }

  &__container {
    display: flex;
    flex-wrap: nowrap;
    max-height: 550px;
    transition: all ease-in-out 250ms;


    @include utilities.breakpoint(medium) {
      max-width: 500px;
    }
  }

  &__item {
    width: 100%;
    flex-shrink: 0;
  }

  &__control {
    --size-control: 2rem;
    width: var(--size-control);
    height: var(--size-control);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 10em;
    top: calc(50% - var(--size-control) / 2);
    background-color: var(--background-color);
    cursor: pointer;

    @include utilities.breakpoint(medium) {
      display: none;
    }

    &--prev {
      left: calc(var(--size-control) / 2);
    }

    &--next {
      right: calc(var(--size-control) / 2);
    }
  }
}

.slider__img {
  object-fit: cover;

  @include utilities.breakpoint(medium) {
    border-radius: .75em;
  }

}

.slider__thubmbails {
  display: none;
  margin-top: 1em;

  @include utilities.breakpoint(medium) {
    display: flex;
  }

  & .slider__thumb-item {
    border-radius: .75em;
    border: 2px solid transparent;
    cursor: pointer;



    & img {
      pointer-events: none;
    }

    &.active {
      border: 2px solid var(--color-primary);
    }

    &.active img {
      filter: opacity(50%);
    }
  }

  & .slider__thumb-item+.slider__thumb-item {
    margin-left: 1em;
  }
}


// Info product
.description {
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;

  @include utilities.breakpoint(medium) {
    width: 40%;
  }
}

.product__company {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: .1rem;
  color: var(--color-primary);
}

.product__name {
  margin: .4em 0;
  font-weight: 700;
}

.product__text {
  color: var(--text-color);
}

.product__info {
  margin: 1em 0;
  display: flex;
  align-items: center;

  & .product__price {
    font-size: 1.5rem;
    font-weight: 800;
  }

  & .product__discount {
    margin-left: .75em;
    padding: .2em .4em;
    border-radius: .2em;
    font-size: .8rem;
    font-weight: 700;
    color: var(--color-primary);
    background-color: var(--color-primary-pale);
  }

  & .product__old-price {
    margin-left: auto;
    font-size: .8rem;
    font-weight: 700;
    color: var(--color-grayish-blue);
    text-decoration: line-through;
  }
}

// Btns
.description__buttons {
  display: flex;
  flex-direction: column;
}
