@use "base";
@use "utilities";

$VeryDarkBlue: hsl(220, 13%, 13%);
$DarkGrayishBlue: hsl(219, 9%, 45%);
$GrayishBlue: hsl(220, 14%, 75%);
$LightGrayishBlue: hsl(223, 64%, 98%);

// HEADER
.header {
  padding: 1em 0;
  background-color: var(--background-color);
  color: var(--text-color);

  & .container {
    border-bottom: 1px solid $GrayishBlue;
  }
}

.row {
  display: flex;
  align-items: center;
}

.nav__btn {
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--background-color);

  &--open {
    padding: .25em;
    margin-right: .35em;

    @include utilities.breakpoint(medium) {
      display: none;
    }
  }

  &--close {
    @include utilities.breakpoint(medium) {
      display: none;
    }
  }

  &--cart {
    vertical-align: middle;
  }
}

.img {
  max-width: 100%;
  object-fit: cover;
}

.logo {

  @include utilities.breakpoint(medium) {
    margin-right: 2.35em;
  }
}

.nav {
  min-height: 4rem;
  margin-left: auto;
  display: flex;


  @include utilities.breakpoint(medium) {
    margin: 0;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }


  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &--primary {
      display: none;

      @include utilities.breakpoint(medium) {
        display: flex;
      }
    }

    &--primary.active {
      width: 60%;
      padding: 1em;
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: var(--background-color);

      & .nav__item {
        margin: 1em 0;
      }
    }

    &--secondary {

      & .nav__item+.nav__item {
        margin-left: .75em;

        @include utilities.breakpoint(medium) {
          margin-left: 1.5em;
        }
      }
    }
  }

  &__item {
    @include utilities.breakpoint(medium) {
      height: 100%;
      display: flex;
      align-items: center;
      border-bottom: 3px solid transparent;
      transition: all ease-in 200ms;

      &:hover,
      &:active {
        border-bottom: 3px solid var(--color-primary);
      }
    }
  }


  &__item+&__item {

    @include utilities.breakpoint(medium) {
      margin-left: 1.5em;
    }
  }

  &__item a {
    font-size: 1rem;
    font-weight: 600;
    color: $DarkGrayishBlue;
    font-family: 'Playfair Display', serif;
  }

  &__item-avatar img {
    width: 2rem;
  }
}

.overlay {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.75);

  &.active {
    visibility: visible;
    height: auto;
    min-height: 100vh;
  }
}
